:root {
    --gray-00: #ffffff;
    --gray-05: #f5f6f7;
    --gray-15: #d0d0d5;
    --gray-75: #000000;
    --gray-85: #000000;
    --gray-90: #0a0a23;
    --blue-50: #96d0ff
  }
  
  *,
  ::before,
  ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: var(--gray-85);
    color: var(--gray-05);
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    margin: 30px auto;
  }
  
  h2 {
    margin-bottom: 15px;
  }
  
  form {
    width: 100%;
    text-align: center;
    padding: 15px;
  }
  
  fieldset {
    border: 0 none;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  fieldset div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    height: 38px;
    width: 100px;
    text-align: center;
  }
  
  button {
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    background-image: linear-gradient(#ffc3ff, #d78dde);
    border: 2px solid #d687c2;
    padding: 10px 16px;
    font-size: 15px;
    width: 55%;
  }
  
  select:focus-visible,
  button:focus-visible {
    outline: 3px solid var(--blue-50);
  }
  
  .output-container {
    width: 95%;
    min-height: 55px;
    margin-top: 25px;
    border-radius: 0;
    padding: 15px;
    overflow-wrap: break-word;
    text-align: center;
  }
  
  .output-array {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .output-value {
    font-size: 2em;
  }
  
  @media (min-width: 550px) {
    form,
    .output-container {
      max-width: 480px;
    }
}